---
import { literal } from "astro:schema";

const title = "Prueba de proyecto en Astro";

const color = "warning";

const hobbies = ["Programar", "Leer", "Escribir", "Comer"];
---

<ul>
	{hobbies.map((hobby) => <li>{hobby}</li>)}
</ul>

<h1 class={color}>{hobbies[0]}</h1>

<h1 class={color}>{hobbies[1]}</h1>
<h1 class={color}>{hobbies[2]}</h1>
<h1 class={color}>{hobbies[3]}</h1>

<style>
	body {
		background-color: #2e2e2e;
	}
	.title {
		color: saddlebrown;
	}
	.danger {
		color: red;
	}
	.warning {
		color: yellow;
	}
</style>
